# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
!app/build/
!app/build/outputs/
!app/build/outputs/apk/
!app/build/outputs/apk/debug/
!app/build/outputs/apk/debug/app-debug.apk
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle
